<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Server_Launcher.My.MySettings>
            <setting name="Pfad1" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfad2" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfad3" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfad4" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfad5" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfad6" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfad7" serializeAs="String">
                <value />
            </setting>
            <setting name="verzögerung1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verzögerung2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verzögerung3" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="verzögerung4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verzögerung5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verzögerung6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verzögerung7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="start1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="start2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="start3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="start4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="start5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="start6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="start7" serializeAs="String">
                <value>7</value>
            </setting>
        </Server_Launcher.My.MySettings>
    </userSettings>
</configuration>